body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.site-container {
  min-height: 100vh;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product {
  border: 1px solid gray;
  margin: 1rem 0;
}

.product img {
  width: 100%;
  max-width: 400px;
}
.product-info {
  padding: 0 40px;
}
main {
  flex: 1;
}
.rating span {
  color: #ffc00f;
}
.btn-primary {
  background-color: #f0c040;
  color: black;
}

.singleProduct {
  align-items: center;
  display: flex;
  padding: 20px 10%;
  justify-content: space-around;
  margin: 20px 0;
  flex-wrap: wrap;
}
.singleProductImage img {
  width: 100%;
  max-width: 400px;
  border: 1px solid gray;
}

.singleProductInfo {
  padding: 0 20px 0 0;
}

.singeProductButton {
  padding: 15px 30px;
  background-color: gold;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.singeProductButton:hover {
  background-color: rgb(249, 249, 1);
  color: black;
}
.menu {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0 20px;
}
.second-menu {
  display: flex;
  margin-right: 40px;
  gap: 20px;
}

.image-large {
  width: 90%;
}
